header {
    margin-bottom: 50px;

    h1 {
        font-family: $monospace;
        font-size  : 2.5em;
        color      : $primary
    }

    a,
    a:visited {
        text-decoration: none;
    }

    .site-title {
        padding  : 2em 0;
        max-width: 50vw;
    }

    .socials {
        display        : flex;
        justify-content: center;

        >a {
            margin-right: 5px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .social-link {
        fill: $secondary;
    }
}

@media (prefers-color-scheme: light) {
    .social-link {
        fill: $primary;
    }
}