@import "vars";

.posts {
    width    : 100%;
    max-width: $maxWidth;
    margin   : 0 auto;

    @media (min-width: $screen-lg) {
        width: 80%;
    }
}

.post-item {
    list-style         : none;
    list-style-position: none;

    @media (min-width: 0) {
        margin: 0px 0 0px -1em;
    }

    @media (min-width: $screen-md) {
        margin: 10px 0 10px -1em;
    }

}

.post-tag {
    font-size       : 8pt;
    text-decoration : none;
    color           : #333;
    background-color: #ccc;

    padding: 1px 5px 1px 5px;
    margin : 0 0 0 2px;

    &:hover {
        color           : $primary;
        background-color: $tertiary;
    }

    &:active {
        color: $secondary;
    }

    @media (min-width: 0) {
        display: none;
    }

    @media (min-width: $screen-md) {
        display: inline;
    }
}

.post-link {
    font-size      : 10pt;
    text-decoration: none;
    color          : $primary;

    padding: 0 5px 0 5px;
    margin : 0 5px 0 5px;

    &:hover {
        color           : $primary;
        background-color: $tertiary;
    }

    &:active {
        color: $secondary;
    }
}

.post-date {
    font-size: 9pt;
    color    : #888;


    padding: 0 5px 0 5px;
    margin : 0 5px 0 0;
}