.post {
    width    : 100%;
    max-width: $maxWidth;
    margin   : 0 auto;

    @media (min-width: $screen-lg) {
        width: 80%;
    }
}

.post-title {
    margin-bottom: 30px;

    h1 {
        margin-bottom: 4px;
    }

    .post-title-detail {
        border-left: solid 3px #eee;
        padding-left   : 12px;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;

        span {
            color        : #777;
            font-size    : 13px;
            margin-bottom: 1px;
            display      : flex;
            align-items  : center;
        }

        span::before {
            font-size   : 15px;
            content     : attr(data-icon);
            margin-right: 12px;
        }

        a,
        a:hover,
        a:active {
            text-decoration: none !important;
        }

        a {
            color     : $primary;
            transition: 0.5s color;

            &:hover {
                color: $secondary;
            }
        }
    }
}

.post-content {
    blockquote {
        margin-left : 1rem;
        padding-left: 1rem;
        border-left : 4px solid $grey;
        font-family : $monospace;
    }

    code {
        padding         : 1px 3px;
        border-radius   : 2px;
        font-size       : 12px;
        background-color: $tertiary;
        color           : $secondary;
    }

    p {
        font-size: 0.85em
    }

    pre {
        margin: 1rem 0;
    }

    pre code {
        color           : inherit;
        background-color: inherit;
        padding         : 0;
        border-radius   : inherit;
    }

    .highlight {
        font-size: 0.85em;
        border   : 1px solid $grey;
        margin   : 1rem 0;
    }

    .highlight pre {
        padding : 1rem;
        overflow: auto;
        margin  : 0;
    }

    .highlight code {
        color           : inherit;
        background-color: inherit;
        padding         : 0;
        border-radius   : inherit;
    }

    ul {
        padding-left: 1rem;
        margin-left : 1rem;
    }

    li {
        font-size: 14px;
    }

    ol {
        font-size   : 0.85em;
        padding-left: 1rem;
        margin-left : 1rem;
    }

    a,
    a:any-link {
        color          : $primary;
        text-decoration: none;
    }

    table {
        overflow : auto;
        max-width: 100%;
        margin   : 0.5rem 0;
    }

    table th {
        padding: 0.5rem;
    }

    table td {
        padding        : 0.5rem;
        border-bottom  : 1px solid $grey;
        border-collapse: collapse;
    }

    table tbody tr:nth-child(even) {
        background: $grey;
    }

    @media only screen and (max-width: 768px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top     : -9999px;
            left    : -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            border       : none;
            border-bottom: 1px solid #eee;
            position     : relative;
            padding-left : 50%;
        }

        td:before {
            position     : absolute;
            top          : 6px;
            left         : 6px;
            width        : 45%;
            padding-right: 10px;
            white-space  : nowrap;
        }
    }

    cite {
        font-family: $monospace;
    }

    sub {
        vertical-align: sub;
    }

    sup {
        vertical-align: super;
    }

    kbd {
        padding      : 1px 3px;
        border-radius: 2px;
    }

    mark {
        padding      : 1px 3px;
        border-radius: 2px;
        border       : 1px solid $grey;
    }

    strong {
        font-weight: bold;
    }
}